@import "base";

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

body {
    @include center;
    background-image: url("../imgs/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50px 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 1000px;
}

p {
    display: block;
    color: #000;
    margin: 10px 0;
}

.workspace {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 30px;

    &__item {
        @include center;
        @include blur;
        flex-direction: column;
        height: 270px;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
        overflow: hidden;

        &_dashed{
            border-style: dashed;
        }
    }
}

.drag-area{
    @include center;
    @include blur;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: inherit;
    height: inherit;
    font-size: 60px;
    transition: .3s;

    &.active{
        visibility: visible;
        opacity: 1;
        transition: .3s;
    }
}

@media (max-width: 1000px) {
    body{
        padding: 20px;
    }

    .wrapper{
        width: 100%;
    }

    .workspace{
        grid-template-columns: 1fr;
    }

    .button__white{
        margin: 0 15px;
        padding: 10px;
        font-size: 12px;
    }
}