@import "../../assets/scss/base";

video {
    width: 100%;
}

.aim {
    position: absolute;
    border-radius: 15px;
    border: 3px solid $red-color;
    box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.5);
}